INTRODUCTION

In [2]:
print("Hello World")

import keyword
print(keyword.kwlist)
a=len(keyword.kwlist)
print(a)

Hello World
['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']
35

In [4]:
a=40
b=30
c=a+b
print(c)

70

In [46]:
l1=[1,2,3,4,5,6]
for x in l1:
  print(x)

1
2
3
4
5
6

In [45]:
l1.append(7)

In [44]:
l2=[8,9,10]
l3=l1+l2
print(l3)

[1, 1, 2, 3, 3, 4, 4, 5, 5, 8, 9, 10]

In [43]:
l2=[]
l1=[1,1,2,3,3,4,4,5,5]
for x in l1:
  if x not in l2:
    l2.append(x)
print(l2)

[1, 2, 3, 4, 5]

In [42]:
# Since the variable list has been overwritten, use del to remove it
del list
# Now you can use the list() function again
l2=list(set(l1))
l2

[1, 2, 3, 4, 5, 6, 7, 8]

In [8]:
a=10
b=1.4
c="apple"
print(type(a))
print(type(b))
print(type(c))

<class 'int'>
<class 'float'>
<class 'str'>

In [9]:
for x in range(1,10):
  print(x)

1
2
3
4
5
6
7
8
9

In [11]:
#slicing
l1=[1,2,3,4,5,6,7,8]
l1[0:4]

[1, 2, 3, 4]

In [12]:
l1[-1]

8

In [13]:
#reverse
l1[::-1]

[8, 7, 6, 5, 4, 3, 2, 1]

In [20]:
#palindrome
str1=input("Enter a name: ")
str2=str1[::-1]

Enter a name: nayan

In [15]:
if str1==str2:
  print("palindrome")
else:
  print("Not palindrome")

Not palindrome

In [16]:
days=["mon","tue","wed","fri","sat","sun"]

In [18]:
#copy
list1=[1,2,3,4,5]
print(list1)
list2=list1.copy()
print(list2)

[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5]

In [17]:
#count
nums=[1,2,1,1,3,4,5,6,7]
print(nums)
nums.count(1)

[1, 2, 1, 1, 3, 4, 5, 6, 7]

3

In [19]:
#clear
list=["mon","tue","wed","fri","sat","sun"]
print(list)
list.clear()
print(list)

['mon', 'tue', 'wed', 'fri', 'sat', 'sun']
[]

In [21]:
#append
a=['a','b','c']
print(a)
a.append('d')
print(a)

['a', 'b', 'c']
['a', 'b', 'c', 'd']

In [22]:
list=["red","pink","blue","white"]
print(list)
list.clear()
print(list)

['red', 'pink', 'blue', 'white']
[]

In [23]:
nums=[1,2,3,4,5,6,7,1,2,3,1]
print(nums)
nums.count(1)

[1, 2, 3, 4, 5, 6, 7, 1, 2, 3, 1]

3

In [24]:
#extend
a=['a','b','c']
b=['d','e','f']
print(a)
print(b)
a.extend(b)
print(a)

['a', 'b', 'c']
['d', 'e', 'f']
['a', 'b', 'c', 'd', 'e', 'f']

In [25]:
#tuples

a=(5,)
print(a)
print(type(a))

(5,)
<class 'tuple'>

In [26]:
a=(1,2,3,4,5)
print(a)

(1, 2, 3, 4, 5)

In [27]:
b=(1.2,3.4,5.6)
print(b)

(1.2, 3.4, 5.6)

In [28]:
c=("Red","two","green")
print(c)

('Red', 'two', 'green')

In [29]:
mix=("Hello",708,3.4)
mix

('Hello', 708, 3.4)

In [30]:
a=(1,2,3,4,"hello")
print(a[4])

hello

In [31]:
#tuple methods
#count

#python Dictiory

a={
    'name':'rakshitha',
    'age':20,
    'education':'btech'
}
print(a)

{'name': 'rakshitha', 'age': 20, 'education': 'btech'}

In [32]:
#length
len(a)

3

In [33]:
#type
type(a)

dict

In [34]:
#keys(attribute)
x=a.keys()
x

dict_keys(['name', 'age', 'education'])

In [35]:
#values
y=a.values()
y

dict_values(['rakshitha', 20, 'btech'])

In [36]:
#items
z=a.items()
z

dict_items([('name', 'rakshitha'), ('age', 20), ('education', 'btech')])

In [37]:
#python sets
set1={1,2,3,4,5}
print(set1)

{1, 2, 3, 4, 5}

In [38]:
#duplicates not  allowed
s={1,2,3,4,5,1,2,3}
s

{1, 2, 3, 4, 5}

In [39]:
#function
def add():
  a=2
  b=3
  sum=a+b
  return sum
add()
print(add())

5